body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: white;
}

header {
    background-color: #003366; 
    color: #fff;
    padding: 20px 0; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 36px;
    margin: 0;
    text-align: center;
}

.navbar {
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0; 
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.navbar ul li a:hover {
    color: #ff6600;
    text-decoration: underline;
}

.logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 135px;
}

.order-now {
    background-color: #fff;
    padding: 40px 0;
    margin-top: 110px; 
}

.order-now h2 {
    text-align: center;
    color: #003366;
    font-size: 36px;
    margin-bottom: 20px;
}

.order-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.order-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.order-form input,
.order-form select,
.order-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.order-form button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.order-form button:hover {
    background-color: #e65c00;
}

footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
